In [ ]:
import pandas
mydataset ={
    'cars':["BMW","Volvo","Ford"],
    'passing':[3,7,2]
}

myvar =pandas.DataFrame(mydataset)
print(myvar)

    cars  passing
0    BMW        3
1  Volvo        7
2   Ford        2

In [ ]:
import pandas as pd
mydataset ={
    'cars':["BMW","Volvo","Ford"],
    'passing':[3,7,2]
}

myvar =pd.DataFrame(mydataset)
print(myvar)

    cars  passing
0    BMW        3
1  Volvo        7
2   Ford        2

In [ ]:
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
a=[1,7,2]
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
import pandas as pd
calories={
    'day1':420,
    'day2':380,
    'day3':390
}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
data={
    'calories':[420,380,390],
    'duration':[50,40,45]
}
myvar=pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45